$xlSize: 1280px
$lSize: 980px
$mSize: 780px
$sSize: 580px
$xsSize: 420px
$black: #292929
$white: #F4F4F4
$red : #F30E01
$hover: red
$active: red
$error: red
$disabled: red
$text: "Montserrat", sans-serif 
$heroTitle: "chalk", sans-serif 
